{% load static %}
<div class="row" style="background-color: #B0E0E6;">
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body" style="background-color: #B0E0E6;">
          <h5 class="card-title">Important Links</h5>
          <p><a class="nav-link" href="{% url 'features' %}">Features</a></p>
          <p><a class="nav-link" href="{% url 'profile' %}">Profile</a></p>
          <p><a class="nav-link" href="{% url 'anouncements' %}">Anouncements</a></p>
          <p><a class="nav-link" href="{% url 'help' %}">Help</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" style="background-color: #B0E0E6;">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0E0E6;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0E0E6;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0E0E6;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0E0E6;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
</div>

<!-- Footer Section -->
<footer class="text-center p-3" style="background-color: #B0E0E6; color: white;">
    &copy; 2025 Urban Nest. All Rights Reserved.
</footer>
